#
# Proton Trade Environment Project.
# Copyright (c) 2013-2020 Mastertrade.io Ltd.
#
# Module Name:
#
#   ProtonDevel/.gitattributes
#
# Author:
#
#   Milton Friedman <mastertrade.io@protonmail.com>
#
# Copyright Notice:
#
#   All rights reserved. All information contained herein is proprietary
#   and confidential to Mastertrade.io Ltd. Any use, reproduction,
#   or disclosure without the written permission of Mastertrade.io Ltd
#   is prohibited.
#
# Abstract:
#
#   This file is the part of the Proton Trade Environment project.
#

*.hpp ident
*.h ident
*.cpp ident
*.cc ident
*.c ident
*.mqh ident
*.mq4 ident
*.mq5 ident
*.qbs ident
*.js ident
*.pro ident
*.pri ident
*.sh ident

# $Id$
