#
# Proton Trade Environment Project.
# Copyright (c) 2013-2020 Mastertrade.io Ltd.
#
# Module Name:
#
#   ProtonDevel/.gitignore
#
# Author:
#
#   Milton Friedman <mastertrade.io@protonmail.com>
#
# Copyright Notice:
#
#   All rights reserved. All information contained herein is proprietary
#   and confidential to Mastertrade.io Ltd. Any use, reproduction,
#   or disclosure without the written permission of Mastertrade.io Ltd
#   is prohibited.
#
# Abstract:
#
#   This file is the part of the Proton Trade Environment project.
#

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.json.user
*.json.user.*
*.txt.user
*.ex4
*.ex5
*.autosave
*.sbackup

# $Id$
